.containerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.mainContainerDark {
  background-color: rgba(18, 18, 18, 1);
}

.mainContainerLight {
  background-color: rgba(255, 255, 255, 1);
}

.bgDark {
  background-color: rgba(24, 24, 27, 1);
}

.bgLight {
  background-color: rgba(255, 255, 255, 1);
}

.dashboardContentContainer {
  height: 95vh;
  overflow: scroll;
}

.createFolderModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.createFormModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inviteModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.deleteConfirmationModel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
