.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 50px;
}

.mainContainerLight {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.mainContainerDark {
  background-color: rgba(31, 31, 35, 1);
  color: white;
}

.pageTitleLight {
  color: black;
}

.pageTitleDark {
  color: white;
}

.pageTitleDark,
.pageTitleLight {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-open-sans);
}

.textInputGroup {
  position: relative;
}

.textInputIcon {
  position: absolute;
  top: 25%;
  /* transform: translateY(-50%); */
  left: 15px;
  font-size: 20px;
  color: #ccc;
}

.textInput {
  padding: 20px 20px;
  padding-left: 40px;
  font-family: var(--font-open-sans);
  font-size: 19.29px;
  font-weight: 400;
}

.passwordIcon {
  position: absolute;
  right: 15px;
  top: 30%;
  cursor: pointer;
}

.submitButton {
  background-color: rgba(26, 95, 255, 1);
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 55.13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: rgba(26, 95, 255, 0.8);
}

.formDark {
  color: white;
}

.formLight {
  color: black;
}

.textInputDark {
  color: white;
}
.textInputLight {
  color: black;
  border: 1px solid lightgray;
}

.logoutContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2%;
}

.logoutBtnDark,
.logoutBtnLight {
  background-color: transparent;
  color: red;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.logoutBtnLight {
  background-color: rgba(255, 0, 0, 0.23);
  padding: 10px;
  border-radius: 6px;
  box-shadow: rgba(255, 0, 0, 0.149) 1px 5px 10px;
}
