body {
  margin: 0;
}

:root {
  --landing-page-bg: #171923;
  --font-outfit: "Outfit", serif;
  --font-open-sans: "Open Sans", serif;
  --font-poppins: "Poppins", serif;
  --font-inter: "Inter", serif;
}

.colorWhite {
  color: white;
}
